    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      max-width: 100vw;
      overflow-x: hidden;
    }
*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
    body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
      background: black;
      padding: 5px;
	  min-height: 100vh;
      height: auto;
	  overflow-y: visible;
    }

    .app-desktop {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 6px;
      border-radius: 12px;
      padding: 5px;
      background: #ffffffc7;
	   width: calc(100% - 0px);
	   box-sizing: border-box;
    }

    .app-title {
      grid-column: span 5;
      text-align: left;
      font-size: 20px;
      font-weight: 600;
      color: black;
      padding: 4px 8px;
      background: transparent !important;
      box-shadow: none !important;
      cursor: default;
      display: flex;
      align-items: center;
    }

    .app-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #ffffff3d;
      border-radius: 12px;
      padding: 10px 0px;
      list-style: none;
      cursor: pointer;
      text-align: center;
      transition: background 0.2s;
    }

    .app-item:hover {
      background: #edf2ff;
    }

    .app-icon {
      font-size: 24px;
      margin-bottom: 6px;
      color: #4a90e2;
    }

    .app-name {
      font-size: clamp(9px, 3.2vw, 12px);
      color: #333;
	  font-size: 15px;
	  font-weight: 600;
      line-height: 1.2;
      word-break: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
	@media (max-width: 400px) {
      .app-icon { font-size: 20px; }
      .app-name { font-size: 10px; }
    }
.app-icon img{display:block;width:30px;height:30px;padding:0px;background:#fff;border-radius:10px;margin:0 auto}
.app-icon svg{display:block;width:30px;height:30px;padding:0px;background:#fff;border-radius:10px;margin:0 auto}
h3 {
text-align:center;
color: white;
border-radius: 8px;
}
h1 {
width:100%;
  margin: 20px 6px;
 font-size: 55px;
  -webkit-background-clip: text;
  background: linear-gradient(to bottom, white, red);
  background-clip: text;
  text-align:center;
  color: transparent;
  background-size: 100% 200%;
  animation: blinkColor 3s ease-in-out infinite alternate;
}
@keyframes blinkColor {
0% {
        background-position: 0% 0%;
      }
      100% {
        background-position: 0% 100%;
      }

    }


